* {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
h4 {
  margin: 0;
}
nav {
  background-color: #15202b;
  padding: 10px 0;
  color: #ffff;
  padding-left: 20%;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #38444d;
}
body {
  place-content: center;
  min-height: 100vh;
  font-family: “Barlow Semi Condensed”, sans-serif;
  background-color: #15202b;
}

h2 {
  font-weight: 550;
  font-size: 15px;
  padding-bottom: 10px;
}

.flex {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: auto;
  position: absolute;
  left: 10%;
  top: 10%;
}
.logo:hover {
  transform: scale(1.2);
}

.gif-image {
  width: 40px;
  height: auto;
}
.gif-image:hover {
  transform: scale(1.2);
}
.add-comment {
  margin-top: 10px;
  color: white;
}
.face-emoji {
  color: white;
  padding-left: 15px;
  margin-top: 10px;
}
label {
  color: white;
  padding-left: 5px;
  padding-bottom: 15px;
}

.add-post {
  height: auto;
  position: absolute;
  right: 13%;
  top: 12%;
  color: white;
}
i:hover {
  transform: scale(1.2);
}

.main .name {
  line-height: 1;
}

.main {
  font-size: 0.8em;
  padding: 2em;
  padding-bottom: 0.5em;
  border-radius: 0.2em;
  border: 1px solid transparent;
}

.main > p:first-of-type {
  font-size: 1.25em;
  line-height: 1.2;
  opacity: 0.7;
}

.main-grid article:nth-child(4n + 1) {
  background: #24c253;
  opacity: 80%;
}

.main-grid article:nth-child(4n + 2) {
  background: #23a77f;
  opacity: 80%;
}
.main-grid article:nth-child(4n + 3) {
  background: #23a77f;
  opacity: 80%;
}

article.main:hover {
  border: 1px solid #38444d;
  box-shadow: 0px 2px 0px rgb(33, 33, 33, 0.2);
  opacity: 100%;
}

article:nth-child(4n + 1) + .comment-box {
  background: #24c253;
  padding: 10px;
}

article:nth-child(4n + 2) + .comment-box {
  background: #23a77f;
  padding: 10px;
}
article:nth-child(4n + 3) + .comment-box {
  background: #23a77f;
  padding: 10px;
}
.post-comment {
  padding-left: 29%;
  padding-top: 10px;
}

.btn-comment {
  margin-left: 10px;
}

.main-grid {
  display: grid;
  gap: 0.5em;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "killua"
    "hisoka";
  padding-bottom: 2em;
  width: min(60%);
  margin-inline: auto;
  border-left: 2px solid #38444d;
  border-right: 2px solid #38444d;
}

.response-wholenav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 30px;
  padding-top: 5px;
}

.comment {
  display: none;
  text-align: center;
}

p.comment-styling {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #38444d;
}
/* Hidden Modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50em;
  background-color: #f3f3f3;
  padding: 2em 2em;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-size: 20px;
  margin-bottom: 0.5em;
  line-height: 1.5;
  text-align: center;
}

.modal__form {
  margin: 0 1em;
  display: grid;
  font-size: 15px;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1em;
}

.modal__form label {
  font-size: 1em;
  font-weight: 500;
}

.modal__form input:first-child {
  font-size: 1em;
  width: 500px;
  padding: 1em 1em;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form #fact-description {
  font-size: 1em;
  width: 100%;
  height: 300px;
  padding: 1em 1em;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  resize: none;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 8px;
  right: 20px;
  font-size: 40px;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
